<sk-circle [isRunning]="spinning" [delay]="300" [color]="red"></sk-circle>
<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <tabset type="pills" [justified]="true">
        <tab heading="Critical Alert">
          <ngx-datatable 
            class="material expandable"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]="dataCritical$ | async">
            <ngx-datatable-column name="Bus No." prop="vehicle_number">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item" prop="alert_desc">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['/alert-list/alert', row['alert_id']]">
                  {{value}}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Time" prop="event_time">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'MM/dd/yyyy HH:mm:ss'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Odometer" prop="odometer">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </tab>
        <tab heading="General Alert">
          <ngx-datatable 
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]="dataGeneral$ | async">
            <ngx-datatable-column name="Bus No." prop="vehicle_number">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item" prop="alert_desc">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['/alert-list/alert', row['alert_id']]">
                  {{value}}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Time" prop="event_time">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'MM/dd/yyyy HH:mm:ss'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Odometer" prop="odometer">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </tab>
        <tab heading="Preventive Maint. Notification">
          <ngx-datatable
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]="dataPmn$ | async">
            <ngx-datatable-column name="Bus No." prop="vehicle_number">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item" prop="item">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['/alert-list/alert', row['alert_id']]">
                  {{value}}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Time" prop="event_time">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'MM/dd/yyyy HH:mm:ss'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Odometer" prop="odometer">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Cycle Value" prop="cycle_value">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </tab>
      </tabset>
    </div>
  </div>
</div>
