<div class="animated fadeIn">
 <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <input
                type="text"
                class="ioc-table-filter"
                placeholder="Bus No, Alert, Type, or Time ..."
                (keyup)="updateFilter($event)"
              />
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-datatable #table
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]="alerts">
           <ngx-datatable-column name="Alert" prop="alert_name">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['alert', row['alert_id']]">
                  {{value}}
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Bus No." prop="vehicle_number">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type" prop="alert_type">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Time" prop="alert_time">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'MM/dd/yyyy HH:mm:ss'}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>