<div class="animated fadeIn">
 <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-3">
              <ngx-select [formControl]="ngxControl"
                [allowClear]="true"
                [items]="vehicles"
                placeholder="Bus No..."
                (typed)="inputTyped('ngx-select', $event)"
                (focus)="doFocus()"
                (blur)="doBlur()"
                (open)="doOpen()"
                (close)="doClose()"
                (select)="doSelect($event)"
                (remove)="doRemove($event)">
              </ngx-select>
            </div>
            <div class="col-0 col-lg-9"></div>
          </div>
          <p></p>
          <form [formGroup]="pmnSettingForm" class='table-responsive'>
            <table class="table table-responsive-sm table-hover table-outline mb-3" 
              formArrayName="pmnSettingArray">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>By Mileage(mile)</th>
                  <th>By Date</th>
                  <th>By Hour(hr)</th>
                  <th>By Count</th>
                  <th>Operand</th>
                  <th>By Value</th>
                  <th>Unit</th>
                  <th>Notification Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="pmnSettingForm.value">
                <tr *ngFor="let ctl of pmnSettingArray.controls;
                  let i = index" [formGroupName]="i">
                  <td>
                    <select formControlName="item_name">
                      <option *ngFor="let name of itemNames" [value]="name">
                        {{name}}
                      </option>
                    </select>
                  </td>
                  <td><input type="text" size="10" formControlName="mileage_usage"></td>
                  <td><input type="text" size="10" formControlName="date_usage"></td>
                  <td><input type="text" size="10" formControlName="hours_usage"></td>
                  <td><input type="text" size="10" formControlName="count_usage"></td>
                  <td>
                    <select formControlName="operand">
                      <option *ngFor="let value of operandValues" [ngValue]="value">
                        {{value | optionName: operands}}
                      </option>
                    </select>
                  </td>
                  <td><input type="text" size="5" formControlName="value"></td>
                  <td>
                    <select formControlName="unit">
                      <option *ngFor="let value of unitValues" [ngValue]="value">
                        {{value | optionName: units}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select formControlName="notificate_type">
                      <option *ngFor="let type of notificationTypes" [value]="type">
                        {{type}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <a href="" (click)="removeLine($event, i)">
                      <i class="fa fa-times-circle fa-lg"></i>
                    </a> 
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Buttons Block -->
            <div class="form-group">
                <button type="button" class="btn btn-primary mr-1" 
                  (click)="addNewLine()">
                  Add
                </button>
                <button type="submit" 
                  [disabled]="!pmnSettingForm.valid"
                  class="btn btn-primary ml-1"
                  (click)="primaryModal.show()">
                  Save
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have <strong>{{pmnSettingArray.length}}</strong> notification setting items are saved!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="primaryModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div>
  <!-- <pre>{{unitValues | json}}</pre> -->
  <!-- <pre>{{pmnSettingForm.value | json}}</pre> -->
  <!-- <pre>{{rows$ | async | json}}</pre> -->
</div>
