<sk-circle [isRunning]="spinning"></sk-circle>
<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-5 col-lg-3">
              <input
                type="text"
                class="ioc-table-filter text-left"
                placeholder="Bus No ..."
              />
            </div>
            <div class="col col-md-1 col-lg-3"></div>
            <div class="col-12 col-md-6">
              <form [formGroup]="myForm" novalidate
                class="text-left">
                  <my-date-range-picker name="mydaterange" 
                    [options]="myDateRangePickerOptions"
                    formControlName="myDateRange">
                  </my-date-range-picker>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper" 
            style="position: relative; width: 75vw">
            <canvas *ngIf="barChartData && barChartData.length > 0"
              baseChart class="chart"
              chartType="bar"
              [labels] = "barChartLabels"
              [datasets] = "barChartData"
              [options]="barChartOptions"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
         <ngx-datatable #tableMaintenance
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='tableData$ | async'>
            <ngx-datatable-column name="Date" prop="date">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div *ngIf="value == 'SUM' || value == 'AVG'; then t_sum else t_date"></div>
                <ng-template #t_sum>
                  {{value}}
                </ng-template>
                <ng-template #t_date>
                  {{value | date:'yyyy-MM-dd' }}
                </ng-template>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Today Mileage" prop="total_mileage">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Daily Mileage" prop="daily_mileage">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Engine Idle" prop="engine_idle_time">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="MPG" prop="mpg">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Door Usage" prop="door_usage">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ramp Usage" prop="ramp_usage">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Kneel Usage" prop="kneel_usage">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="HVAC usage" prop="havc">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Wiper Usage" prop="wiper">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Headlight Usage" prop="headlight">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | number:'1.0-1'}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>