<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          <form [formGroup]="myForm" novalidate>
              <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                              formControlName="myDateRange"></my-date-range-picker>
          </form>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas *ngIf="barChartData && barChartData.length > 0"
              baseChart class="chart"
              [labels] = "barChartLabels"
              [datasets] = "barChartData"
              [options]="barChartOptions"
              chartType="bar"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
         <ngx-datatable #tableMaintenance
            class='material'
            [columns]="colsMaintenance"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='rowsMaintenance'>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>