<sk-circle [isRunning]="spinning"></sk-circle>
<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-5 col-lg-3">
              <input
                type="text"
                class="ioc-table-filter text-left"
                placeholder="Bus No ..."
              />
            </div>
            <div class="col col-md-1 col-lg-3"></div>
            <div class="col-12 col-md-6">
              <form [formGroup]="myForm" novalidate
                class="text-left">
                  <my-date-range-picker name="mydaterange" 
                    [options]="myDateRangePickerOptions"
                    formControlName="myDateRange">
                  </my-date-range-picker>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper" 
            style="position: relative; width: 75vw">
            <canvas *ngIf="barChartData && barChartData.length > 0"
              baseChart class="chart"
              chartType="bar"
              [labels] = "barChartLabels"
              [datasets] = "barChartData"
              [options]="barChartOptions"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
         <ngx-datatable #tableMaintenance
            class="material"
            [columns]="colsMaintenance"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='tableData$ | async'>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>