<div class="animated fadeIn">
 <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-5 col-lg-3">
              <input
                type="text"
                class="ioc-table-filter text-left"
                placeholder="Bus No, File Time ..."
                (keyup)="updateFilter($event)"
              />
            </div>
            <div class="col col-md-1 col-lg-3"></div>
            <div class="col-12 col-md-6">
                <ngx-select [formControl]="ngxControl"
                  class="ioc-dropdown"
                  [allowClear]="true"
                  [items]="months"
                  placeholder="Year & Month ..."
                  (typed)="inputTyped('ngx-select', $event)"
                  (focus)="doFocus()"
                  (blur)="doBlur()"
                  (open)="doOpen()"
                  (close)="doClose()"
                  (select)="doSelect($event)"
                  (remove)="doRemove($event)">
                </ngx-select>
            </div>
          </div>
        </div>
        <div class="card-body">
         <ngx-datatable #tableRouting
            class='material'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='routingLogs'>
            <ngx-datatable-column name="File Time" prop="file_time">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Bus No." prop="bus_number">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="File Name" prop="file_name">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Download" prop="file_path">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <a [href]="value">
                  <i class="fa fa-cloud-download fa-lg"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>