<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <agm-map style="height: 300px" [zoom]=10
            [latitude]="34.650013" [longitude]="-118.139558">
            <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
              <agm-marker [latitude]="34.650013" [longitude]="-118.139558">
                <agm-info-window>0001</agm-info-window>
              </agm-marker>
              <agm-marker [latitude]="34.670013" [longitude]="-118.147558">
                <agm-info-window>0002</agm-info-window>
              </agm-marker>
              <agm-marker [latitude]="34.690013" [longitude]="-118.149558">
                <agm-info-window>0003</agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <input
            type='text'
            style='padding:8px;margin:15px auto;width:30%;'
            placeholder='Bus No...'
            (keyup)='updateFilter($event)'
          />
          <ngx-datatable #table
            class='material'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='rows'>
            <ngx-datatable-column name="busno">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['snapshot', row[col.name]]">{{value}}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="odometer">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="tripmileage">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="engine">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="online">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="updated">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>