<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <agm-map style="height: 300px" [latitude]="34.650013" [longitude]="-118.139558">
            <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
              <agm-marker [latitude]="34.650013" [longitude]="-118.139558">
                <agm-info-window>0001</agm-info-window>
              </agm-marker>
              <agm-marker [latitude]="34.750013" [longitude]="-118.339558">
                <agm-info-window>0002</agm-info-window>
              </agm-marker>
              <agm-marker [latitude]="34.850013" [longitude]="-118.439558">
                <agm-info-window>0003</agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <input
            type='text'
            style='padding:8px;margin:15px auto;width:30%;'
            placeholder='Bus No...'
            (keyup)='updateFilter($event)'
          />
          <ngx-datatable #table
            class='material'
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='rows'>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>