<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <agm-map *ngIf="locations && locations.length > 0"
              style="height: 300px" [zoom]=10 [streetViewControl]=false
              [latitude]="locations[0].latitude | toNumber" 
              [longitude]="locations[0].longitude | toNumber">
            <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
              <agm-marker *ngFor="let loc of locations"
                [latitude]="loc.latitude | toNumber" 
                [longitude]="loc.longitude | toNumber">
                <agm-info-window>{{loc.bus_number}}</agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <input
                type="text"
                class="ioc-table-filter"
                placeholder="Bus No, or Online ..."
                (keyup)="updateFilter($event)"
              />
            </div>
          </div>
        </div>
        <div class="card-body">
         <ngx-datatable #table
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='vehicles'>
            <ngx-datatable-column name="Bus No." prop="bus_number">
              <ng-template let-row="row" let-col="column"
                let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['snapshot', fleetId, row[col.prop]]">{{value}}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Odometer" prop="odometer">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tripmileage" prop="trip_mileage">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Engine" prop="engine_status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Online" prop="online_status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Updated" prop="update_time">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | toTime | date:'MM/dd/yyyy HH:mm:ss'}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>